@import 'tailwindcss';

:root {
  --font-barlow: 'var(--font-barlow)';
  --font-barlow-condensed: 'var(--font-barlow-condensed)';
  --font-barlow-semi-condensed: 'var(--font-barlow-semi-condensed)';
}

@theme {
  --color-primary-azulprofundo: #012437;
  --color-primary-azulescuro: #00354d;
  --color-primary-azulintermediario: #056687;
  --color-primary-azulclaro: #5d8a9f;
  --color-primary-azultecnologico: #1babca;
  --color-secondary-laranjaqueimado: #ff6b35;
  --color-secondary-azulneon: #0ff0ff;
  --color-neutral-cinzaclaro: #f5f5f5;
  --color-neutral-cinzamedio: #e0e0e0;
  --color-neutral-black: #000000;
  --color-neutral-branco: #ffffff;

  --background-gradient-azul: linear-gradient(
    to right,
    var(--color-primary-azulprofundo),
    var(--color-primary-azultecnologico)
  );
}

@layer utilities {
  .bg-gradient-azul {
    background-image: var(--background-gradient-azul);
  }

  .bg-hero-image {
    background-image: url('/assets/imptus_logo_hero.svg'), var(--background-gradient-azul);
    background-repeat: no-repeat;
    background-size: contain, cover;
  }

  .bg-gradient-form {
    background: linear-gradient(
      270.01deg,
      rgba(0, 53, 77, 1) 0%,
      rgba(0, 53, 77, 0.7) 100%
    );
  }

  .shadow {
    box-shadow: 0px 5px 20px 1px var(--color-neutral-black);
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-barlow);
}
